html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

.gs-header {
	padding: 100px 20px 30px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	align-items: center;
}

.gs-header h1 {
	font-family: Segoe UI WestEuropean,Segoe UI,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 100;
	font-size: 42px;
}

.gs-main {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-align-items: center;
	align-items: center;
	-webkit-flex: 1 0 0;
	flex: 1 0 0;
	padding: 20px 20px;
}

.gs-features {
	list-style-type: none;
}

.gs-features.ms-List .gs-ListItem {
	display: -webkit-flex;
	display: flex;
}

.gs-features.ms-List .gs-ListItem > .ms-Icon {
	margin-right: 10px;
}

.gs-ListItem {
	font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	box-shadow: none;
	*zoom: 1;
	color: #333333;
	font-size: 14px;
	font-weight: 400;
	position: relative;
	display: block;
}

.gs-ListItem::before, .gs-ListItem::after {
	display: table;
	content: '';
	line-height: 0;
}

.gs-ListItem::after {
	clear: both;
}

.gs-FieldOption, .gs-CheckBoxOption {
	display: flex;
	align-items: center;
	font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	padding: 0;
	box-shadow: none;
	color: #333333;
	font-size: 14px;
	font-weight: 400;
	margin: 0 0 8px;
}

.gs-FieldOption {
	justify-content: space-between;
}

.gs-Label {
	font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	margin: 0;
	box-shadow: none;
	color: #333333;
	font-size: 12px;
	font-weight: 400;
	display: block;
	padding: 5px 0;
}

.gs-FieldOption .gs-Label, .gs-CheckBoxOption .gs-Label {
	font-size: 14px;
	padding: 0 0;
}

.gs-FieldOption-field {
	box-sizing: border-box;
	margin: 0;
	box-shadow: none;
	font-weight: 300;
	font-size: 14px;
	color: #333333;
	height: 20px;
	padding: 6px 6px 6px;
	width: 100%;
	min-width: 0;
	text-overflow: ellipsis;
}

.gs-CheckBoxOption-field {
	margin-left: 0;
}

b {
	font-weight: bold;
}